- if @phone_number_query.executed?
  %hr
  .row
    .col-xs-8.col-xs-offset-2
      %dl#result.dl-horizontal
        = @result.phone_number
        = @result.phone_number_type
        = @result.location
        = @result.operator
        = @result.operator_ceo
